<%= form_for(elevator_algorithm) do |f| %>
  <% if elevator_algorithm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(elevator_algorithm.errors.count, "error") %> prohibited this elevator_algorithm from being saved:</h2>

      <ul>
      <% elevator_algorithm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
